/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*cider-repl boodle*
.hgignore
.hg/
/resources/public/js
/resources/src/node_modules
/resources/public/fonts
.shadow-cljs
node_modules
.cpcache
