[Unit]
Description=Service to run an instance of boodle

[Service]
WorkingDirectory=/home/manuel/boodle
ExecStart=/home/manuel/boodle/deploy.sh

[Install]
WantedBy=multi-user.target
