{:builds {:boodle {:asset-path "/js"
                   :modules {:main {:entries [boodle.core]}}
                   :output-dir "resources/public/js"
                   :target :browser}}

 :dependencies [[bidi "2.1.6"]
                [camel-snake-kebab "0.4.0" :exclusions [org.clojure/clojure]]
                [cider/cider-nrepl "0.22.0-beta8"]
                [cljs-ajax "0.8.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [day8.re-frame/http-fx "0.1.6"]
                [kibu/pushy "0.3.8"]
                [org.clojure/google-closure-library "0.0-20190213-2033d5d9"]
                [re-frame "0.10.8"]
                [reagent "0.8.1"]
                [reagent-utils "0.3.3"]
                [refactor-nrepl "2.4.0"]
                [tongue "0.2.7"]]

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]
         :port 8777}

 :source-paths ["src/cljs"]}
