{:source-paths ["src/cljs"]
 :nrepl {:port 8777
         :middleware [refactor-nrepl.middleware/wrap-refactor]}
 :dependencies [[bidi "2.1.4"]
                [binaryage/devtools "0.9.10"]
                [camel-snake-kebab "0.4.0" :exclusions [org.clojure/clojure]]
                [cider/cider-nrepl "0.18.0"]
                [cljs-ajax "0.8.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [day8.re-frame/http-fx "0.1.6"]
                [kibu/pushy "0.3.8"]
                [re-frame "0.10.6"]
                [reagent "0.8.1"]
                [reagent-utils "0.3.1"]
                [refactor-nrepl "2.4.0"]
                [tongue "0.2.5"]]
 :builds {:boodle {:target :browser
                   :output-dir "resources/public/js"
                   :asset-path "/js"
                   :modules {:main {:entries [boodle.core]}}}}}
