{:builds {:boodle {:asset-path "/js"
                   :modules {:main {:entries [boodle.core]}}
                   :output-dir "resources/public/js"
                   :target :browser}}

 :dependencies [[better-cond "2.1.0"]
                [bidi "2.1.6"]
                [camel-snake-kebab "0.4.2" :exclusions [org.clojure/clojure]]
                [cljs-ajax "0.8.3"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [day8.re-frame/http-fx "0.2.3"]
                [kibu/pushy "0.3.8"]
                [re-frame "1.2.0"]
                [reagent "1.0.0"]
                [reagent-utils "0.3.3"]
                [tongue "0.2.10"]]

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]
         :port 8777}

 :source-paths ["src/cljs"]}
