.category-card:hover {
  background: hsl(0, 0%, 98%);
}

.category-card-green {
  background-color: #22c65b;
}

.category-card-orange {
  background-color: #ffdb4a;
}

.category-card-red {
  background-color: #ff3860;
}

.category-card-white {
  color: #fff;
}

.category-card-black {
  color: #363636;
}
